.b-top-menu
    background-color #fff
    display flex
    align-items center
    height 100%
    box-shadow 0 2px 6px rgba(0, 0, 0, 0.1)

    &__logo
        margin -25px -50px -25px -25px
        width 110px

    &__userinfo
        width 150px
        height 36px
        // margin-right 20px
        display flex
        align-items center
        cursor pointer

    &__coins
        margin 4px 13px 0 7px
        color #63717d
        font-family $font-main
        font-size 12px
        font-weight 300
        line-height 16px
        text-align center

        > span
            display block
            color #1dd384
            font-size 22px
            font-weight 700
            line-height 30px

    &__dropdown
        position absolute
        top 50px
        right 20px
        left auto
        z-index 5

        width 148px
        min-width auto
        height 93px
        margin 0
        padding 10px 15px 15px 10px
        border none
        float none

        background-color #505a64
        border-radius 2px
        box-shadow none

        color white
        font-family $font-main
        font-size 15px
        font-weight 500
        letter-spacing 0.9px
        line-height 18px
        text-align center

        &:before
            content ""
            width 0
            height 0
            margin 0
            border-left 8px solid transparent
            border-right 8px solid transparent
            border-bottom 4px solid #505a64
            position absolute
            top -3px
            right 70px

        > li
            margin 5px 0
            cursor pointer

    &__popup

        > span
            display block
            border-radius 3px
            width 6px
            height 6px
            background-color #dcdfe1
            margin-bottom 2px

    &__login
        display flex
        align-items center

.b-top-menu-list
    display flex
    margin 0
    padding 0
    width 100%

    &__item
        margin 0 0 0 28px
        padding 0
        list-style none