<h1 class="color-primary">Primary</h1>

<h1 class="color-secondary">Secondary</h1>

<h1 class="color-complementary-light">Complementary Light</h1>

<a href="faq.html">faq</a>

<h1 class="color-complementary-strong">Complementary Strong</h1>
