.b-label-p
    display flex
    justify-content space-between
    align-items center
    font-family $font-main
    margin-bottom 15px
    color rgb(99, 113, 125)
    font-size 16px
    font-weight 400
    line-height 22px

    &__links-container
        display flex
        width 50%

        a
            font-size 12px
            font-weight 500
            margin 0 3.5px
            line-height 16px
            opacity 0.4

        &--big

            a
                color rgb(38, 47, 56)
                font-size 16px
                font-weight 500
                line-height 16px

    &--green
        color #1dd384
        font-family inherit
        font-size 22px
        font-weight 700
        line-height 30px
        display inline-block
        margin 0 0 0 10px
        position relative
        top -1px

    &--normal
        margin 0
        position relative
        top 1px