.b-label
    color #63717d
    font-family $font-main
    font-size 16px
    font-weight 500
    line-height 22px
    margin-bottom 10px
    border none
    text-shadow none
    cursor pointer

    &--late
        color rgb(99, 113, 125)
        font-family $font-main
        background-color $color-main-late
        border-radius 3px
        border 1px solid rgba(38, 47, 56, 0.2)
        font-size 16px
        font-weight 400
        line-height 22px

    &--black
        width 78px
        background #262f38 !important
        border-radius 0 2px 2px 0
        color #fff

    &--transparent
        background transparent
        border none
        color #fff