.b-message
    display flex
    justify-content center
    align-items center
    height 60px
    background-color rgb(255, 238, 246)
    color rgb(232, 32, 74)
    font-family $font-main
    font-size 16px
    font-weight 500
    line-height 22px

    &--info
        color white
        background-color #31b0d5

    &--alert
        color #000
        background-color #ccc