.b-default-layout
    width 100%
    height 100vh
    margin 0
    padding 0
    background-color #f1f3f4
    display flex
    flex-direction column

    &__menu
        width 100%
        height 60px

    &__content
        height 100%
        display flex
        width 100%
        align-items stretch
