/* modern flex mode for nib */
flex-version = flex

@import 'nib'
@import 'rupture'

@import '_variables'

@import 'modules/button'
@import 'modules/checkbox'
@import 'modules/dropdown'
@import 'modules/grid'
@import 'modules/input'
@import 'modules/label'
@import 'modules/label-p'
@import 'modules/link'
@import 'modules/list'
@import 'modules/message'
@import 'modules/modal'

@import "components/content"
@import "components/top_menu"

@import 'partials/default-layout'

