/* modern flex mode for nib */
flex-version = flex

@import 'nib'
@import 'rupture'

@import '_variables'

@import '_grid'

@import '_layout-default'

@import 'modules/logo'
@import 'modules/button'
@import 'modules/dropdown'
@import 'modules/label'
@import 'modules/link'
@import 'modules/list'
@import 'modules/message'
@import 'modules/modal'

@import 'components/content'
@import 'components/top_menu'
