$color-primary = #00BFFF // Deep Sky Blue

$color-secondary = #FF6600

$color-complementary-light = #FF9900
$color-complementary-strong = #FF0000

.color-primary
  color $color-primary

.color-secondary
  color $color-secondary

.color-complementary-light
  color $color-complementary-light

.color-complementary-strong
  color $color-complementary-strong
