/* modern flex mode for nib */
flex-version = flex

@import 'nib'
@import 'rupture'

@import '_variables'
@import '_colors'

@import '_grid'

@import '_layout-default'

@import 'modules/logo'

@import 'components/content'
@import 'components/top_menu'


h1
  color $color-primary

h2
  color $color-secondary
