@import 'blocks/header.css';
@import 'blocks/menu.css';

$main_width: 800px;

.b-container {
  margin: 40px;
  width: $main_width;
  background-color: #ccc;
}

.b-grid {
  lost-utility: clearfix;
}

.b-grid__cell {
  margin: 5px 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}

@for $x from 1 to 12 {
  .b-grid__cell_$(x)-of-12 {
    lost-column: $(x)/12
  }
}

.b-grid__cell--1-of-2 {
  lost-column: 1/2;
}

.b-grid__cell--1-of-3 {
  lost-column: 1/3;
}

