.b-dropdown
    display inline-block

    &__button
        background-color rgba(38, 47, 56, 0.1)
        border 1px solid rgba(38, 47, 56, 0.2)
        border-radius 2px
        width 168px
        height 50px
        color #63717d
        font-family $font-main
        font-size 16px
        font-weight 500
        line-height 22px
        text-align left
        padding-left 20px

    &__button-img
        display block
        float right

        > img
            transform rotate(180deg)

    &__list
        margin 0
        width 168px
        border-radius 0
        box-shadow none
        background-color #dcdfe1

    &--resize
        width 100%
        > *
            width 100%